* text=auto eol=lf

*.php text eol=lf diff=php

/tests export-ignore
/examples export-ignore
/.github export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
